$side-nav-header: #3b3d40;

//TEXT
$color1: #ffffff;
$color2: #cccccc;
$color3: #d70904;
$color4: #999999;
$color5: #6b6b6b;

//background
$background1: #d20b05;
$background2: #fafafa;

//border

$border1: #eaeaea;